/* `rgb` function takes three args for Red Green & Blue. Range for each arg is 0-255. */
/* https://www.google.com/search?q=color+picker */
:root {
    --page-bg-color: rgb(0, 0, 0);
    --page-text-color: rgb(255, 255, 255);
    --home-bg-overlay: rgba(0, 0, 0, .3);
    --home-text-color: rgb(255, 255, 255);
    --about-bg-color: rgb(0, 0, 0);
    --about-text-color: rgb(255, 255, 255);
    --video-bg-color: rgb(0, 0, 0);
    --video-text-color: rgb(255, 255, 255);
    --contact-text-color: rgb(255, 255, 255);
    --donate-bg-color: rgb(0, 0, 0);
    --donate-text-color: rgb(255, 255, 255);
    --subscribe-bg-color: rgb(0, 0, 0);
    --subscribe-text-color: rgb(255, 255, 255);
}
